.activity {
    display: flex;
    align-items: center;
    margin: 1rem;

    .text {
        margin-left: 5px;
        p {
            width: 100%;
            margin: 0;
            padding-bottom: 3px;

            &.first {
                font-size: 14px;
            }
            &.second {
                font-size: 10px;
            }
        }
    }
}
