.home {
    width: 100%;
    height: 100vh;
    .top-bar {
        background-color: var(--light-grey);
        height: fit-content;
        width: 100%;
        -webkit-box-shadow: -1px 1px 4px -1px rgb(131, 130, 130);
        -moz-box-shadow: -1px 1px 4px -1px rgb(126, 125, 125);
        box-shadow: -1px 1px 4px -1px rgb(163, 162, 162);

        display: flex;
        justify-content: flex-end;
        .items {
            padding: 0.5rem;
            display: flex;
            align-items: center;

            .icon {
                font-size: 2rem;
                color: #2b80b9;
                margin-right: 1rem;
            }

            .text {
                font-size: 1rem;
                margin: 0 1rem;
            }
        }
    }

    .name-bar {
        margin: 1px 0;
        margin-bottom: 1rem;
        background-color: var(--light-grey);
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        -webkit-box-shadow: -1px 1px 4px -1px rgb(131, 130, 130);
        -moz-box-shadow: -1px 1px 4px -1px rgb(126, 125, 125);
        box-shadow: -1px 1px 4px -1px rgb(117, 117, 117);

        p {
            margin-left: 1rem;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;

        &:last-child {
            flex: 2;
        }
    }
}
