.navbar {
    width: 13rem;
    height: 100vh;

    margin: 0;

    background-color: var(--blue-grey);

    position: absolute;
    top: 0;
    left: 0;

    overflow: scroll;

    .active {
        background-color: var(--dark-blue-grey);
    }

    .logo {
        padding: 0.5rem 0.5rem;
        background-color: var(--light-blue-grey);

        display: flex;
        align-items: center;
        justify-content: space-around;
        -webkit-box-shadow: -1px 1px 4px -1px rgb(34, 33, 33);
        -moz-box-shadow: -1px 1px 4px -1px rgb(46, 45, 45);
        box-shadow: -1px 1px 4px -1px rgb(10, 10, 10);

        p {
            color: white;
            font-size: 1.2rem;
            padding: 0 1.4rem;
            margin: 0;

            justify-self: center;
            flex: 2;
        }

        .icon {
            color: white;
            height: 2rem;
            flex: 1;
        }
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        color: #e3e4e5;
        padding: 3rem 0;

        .item-set {
            p {
                font-size: 14px;
                padding-left: 1rem;
                color: var(--primary-text-color);
            }

            .item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 1rem;
                color: var(--primary-text-color);

                .icon {
                    font-weight: 100;
                    height: 0.9rem;
                    width: 0.9rem;
                    padding: 0;
                    margin-right: 1rem;
                }

                .name {
                    margin: 0;
                    font-size: 0.9rem;
                    color: var(--primary-text-color);
                    padding: 0;
                }
            }

            &:last-child {
                padding-top: 2rem;
            }
        }
    }
}
