:root{
  --backround-color: #F5F5F5;
  --blue-grey: #2D333E;
  --light-blue-grey: #383D48;
  --dark-blue-grey: #1F242C;
  --light-grey: #FEFEFE;
  --primary-text-color: #E3E4E5;
  --secondary-text-color: #666666;
  --light-blue: #2B80B9;
}

body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;;
  background-color: var(--backround-color);

  margin: 0;
  padding: 0;
}