.card {
    height: fit-content;
    background-color: var(--light-grey);
    flex-basis: 23%;
    flex-grow: 1;
    min-width: fit-content;
    position: relative;
    margin: 3px;
    padding: 10px;

    -webkit-box-shadow: -1px 1px 4px -1px rgb(131, 130, 130);
    -moz-box-shadow: -1px 1px 4px -1px rgb(126, 125, 125);
    box-shadow: -1px 1px 4px -1px rgb(117, 117, 117);

    border-radius: 2px;

    p {
        color: var(--secondary-text-color);
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 5px;
        margin: 0;

        &.sub-heading {
            font-size: 11px;
            font-weight: 100;
        }

        &.count {
            font-size: 3rem;
        }
    }
}
